ğŸŒ± ì¸í”„ëŸ° ğŸ“š ëª¨ë‘ì˜ í•œêµ­ì–´ í…ìŠ¤íŠ¸ ë¶„ì„ê³¼ ìì—°ì–´ì²˜ë¦¬ with íŒŒì´ì¬ ğŸ https://inf.run/FX4TP


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/python-text-analysis/blob/main/0102-pandas-string-output.ipynb)



## íŒë‹¤ìŠ¤ ê¸°ì´ˆ
* https://pandas.pydata.org/
* [Pandas_Cheat_Sheet.pdf](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

In [1]:
# pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.
import pandas as pd

In [2]:
pd.__version__

'2.0.2'

In [3]:
# conda prompt, terminal ì„ í†µí•´ì„œ ì—…ê·¸ë ˆì´ë“œ í•´ì£¼ì„¸ìš”!
# !pip install pandas --upgrade

## DataFrameê³¼ Series

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg" width="400" align="left">

<img src="https://pandas.pydata.org/docs/_images/01_table_series.svg" width="180">

In [4]:
# íŒë‹¤ìŠ¤ë¡œ ë‹¤ë£° ë¬¸ì„œë¥¼ ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ë§Œë“­ë‹ˆë‹¤.
document = ["ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.",
            " ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.",
            "ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤. ",
            "ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.",
            "Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.",
            " Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤."]
document

['ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 ' ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 'ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤. ',
 'ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.',
 'Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 ' Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.']

In [5]:
pd.Series(document)

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
dtype: object

In [6]:
# ë¦¬ìŠ¤íŠ¸ íƒ€ì…ì˜ ë¬¸ì„œë¥¼ íŒë‹¤ìŠ¤ ë°ì´í„°í”„ë ˆì„ í˜•íƒœë¡œ ë§Œë“­ë‹ˆë‹¤.
# ì»¬ëŸ¼ëª…ì€ ["ë¬¸ì„œ"]ë¡œ í•©ë‹ˆë‹¤.
# pd.DataFrame({"ë¬¸ì„œ": document})
# pd.DataFrame(document, columns=["ë¬¸ì„œ"])

df = pd.DataFrame({"ë¬¸ì„œ": document})
df

                                ë¬¸ì„œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.

In [7]:
# shapeë¡œ í–‰, ì—´ í¬ê¸° ë³´ê¸°
df.shape

(6, 1)

In [8]:
# infoë¥¼ í†µí•´ ë°ì´í„°í”„ë ˆì„ì˜ ì •ë³´ë¥¼ ë´…ë‹ˆë‹¤.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë¬¸ì„œ      6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes

In [9]:
# ë¬¸ì˜ë‚ ì§œ ë§Œë“¤ê¸°
df["ë‚ ì§œ"] = "2024-10-12"
df

                                ë¬¸ì„œ          ë‚ ì§œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

### DataFrameì—ì„œ íŠ¹ì • ì—´ ì„ íƒí•˜ê¸°

<img src = 'https://pandas.pydata.org/docs/_images/03_subset_columns.svg' width="600">

In [10]:
# "ë¬¸ì„œ" ì»¬ëŸ¼ ê°€ì ¸ì˜¤ê¸°
df["ë¬¸ì„œ"]

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [11]:
# DataFrame ì˜ type
type(df)

pandas.core.frame.DataFrame

In [12]:
# Series ì˜ type
type(df["ë¬¸ì„œ"])

pandas.core.series.Series

In [13]:
# DataFrame 
df[["ë¬¸ì„œ", "ë‚ ì§œ"]]

                                ë¬¸ì„œ          ë‚ ì§œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

In [14]:
df[["ë¬¸ì„œ"]]

                                ë¬¸ì„œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.

### DataFrameì—ì„œ íŠ¹ì • í–‰ ê°€ì ¸ì˜¤ê¸°

<img src = 'https://pandas.pydata.org/docs/_images/03_subset_rows.svg' width="600">

In [15]:
# ì²«ë²ˆì§¸ í–‰ ê°€ì ¸ì˜¤ê¸°
# loc[í–‰]
# loc[í–‰, ì—´]
# loc[ì¡°ê±´, ì—´]
df.loc[0]

ë¬¸ì„œ    ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
ë‚ ì§œ          2024-10-12
Name: 0, dtype: object

In [16]:
type(df.loc[0])

pandas.core.series.Series

In [17]:
df.loc[[0, 1, 3, 4]]

                                ë¬¸ì„œ          ë‚ ì§œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

In [18]:
df.loc[[0]]

                 ë¬¸ì„œ          ë‚ ì§œ
0  ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

In [19]:
# loc[í–‰, ì—´]
df.loc[0, "ë¬¸ì„œ"]

'ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.'

In [20]:
# loc[í–‰, ì—´]

df.loc[[0, 1], "ë¬¸ì„œ"]

0            ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1     ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [21]:
# loc[í–‰, ì—´]

df.loc[[0, 1], ["ë¬¸ì„œ", "ë‚ ì§œ"]]

                         ë¬¸ì„œ          ë‚ ì§œ
0          ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
1   ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

In [22]:
df.loc[1:3, "ë¬¸ì„œ":"ë‚ ì§œ"]

                                ë¬¸ì„œ          ë‚ ì§œ
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12

###  DataFrameì—ì„œ íŠ¹ì • í–‰ê³¼ ì—´ í•¨ê»˜ ê°€ì ¸ì˜¤ê¸°
<img src = 'https://pandas.pydata.org/docs/_images/03_subset_columns_rows.svg' width="600">

In [23]:
# í–‰ê³¼ ì—´ í•¨ê»˜ ê°€ì ¸ì˜¤ê¸°
df.loc[0, "ë¬¸ì„œ"]

'ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.'

In [24]:
# df.loc[0, 1] => iloc

In [25]:
# .ilocë¥¼ ì‚¬ìš©í•´ì„œ ì¼ë¶€ ìŠ¬ë¼ì´ì‹± í•˜ê¸°
df.iloc[0, 0]

'ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.'

In [26]:
df.iloc[[0, 3], [0, 1]]

                                ë¬¸ì„œ          ë‚ ì§œ
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12

In [27]:
# ìŠ¬ë¼ì´ì‹±
df.iloc[:3, 1:]

           ë‚ ì§œ
0  2024-10-12
1  2024-10-12
2  2024-10-12

In [28]:
# df.head?? => ì†ŒìŠ¤ì½”ë“œë¥¼ ë³´ë©´ iloc ë¥¼ ì‚¬ìš©í•˜ê³  ìˆìŠµë‹ˆë‹¤.
# help(df.head)

## íŒë‹¤ìŠ¤ ë¬¸ìì—´ ë‹¤ë£¨ê¸°

* https://pandas.pydata.org/docs/user_guide/text.html
* https://pandas.pydata.org/docs/reference/series.html#api-series-str


íŒë‹¤ìŠ¤ì˜ ì‹œë¦¬ì¦ˆ í˜•íƒœì˜ ë°ì´í„°ë¥¼ ë¬¸ìì—´ë¡œ ë‹¤ë£¨ê²Œ ë˜ë©´ íŒŒì´ì¬ ë¬¸ìì—´ í•¨ìˆ˜ì™€ ë¹„ìŠ·í•˜ê²Œ ë¬¸ìì—´ì„ ì²˜ë¦¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë‹¤ìŒê³¼ ê°™ì€ ë¬¸ì„œê°€ íŒë‹¤ìŠ¤ì˜ ì‹œë¦¬ì¦ˆ í˜•íƒœë¡œ ìˆë‹¤ê³  í•  ë•Œ ëŒ€ì†Œë¬¸ì ë³€ê²½, ê³µë°±ì œê±°, ì–´ì ˆ ë‚˜ëˆ„ê¸°, íŠ¹ì •ë¬¸ì ì°¾ê¸°, ë°”ê¾¸ê¸° ë“±ì˜ ë¬¸ìì—´ ì „ì²˜ë¦¬ì— í•„ìš”í•œ ëª‡ ê°€ì§€ ê¸°ëŠ¥ì„ ì•Œì•„ë´…ë‹ˆë‹¤. 



### ëŒ€ì†Œë¬¸ì ë³€ê²½

In [29]:
# ëŒ€ë¬¸ìë¡œ ë³€ê²½í•˜ê¸°
df["ë¬¸ì„œ"].str.upper()

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    BUS ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    TAXI ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [30]:
# ì†Œë¬¸ìë¡œ ë³€ê²½í•˜ê¸°
df["ë¬¸ì„œ"].str.lower()

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

### ì–‘ë ê³µë°± ì œê±°

In [31]:
document

['ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 ' ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 'ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤. ',
 'ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.',
 'Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.',
 ' Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.']

In [32]:
# ì–‘ë ê³µë°± ì œê±°
df["ë¬¸ì„œ"].str.strip()

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2            ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [33]:
df["ë¬¸ì„œ"].str.len()

0    16
1    24
2    24
3    31
4    15
5    16
Name: ë¬¸ì„œ, dtype: int64

In [34]:
df["ë¬¸ì„œ"].str.strip().str.len()

0    16
1    23
2    23
3    31
4    15
5    15
Name: ë¬¸ì„œ, dtype: int64

### ì–´ì ˆ ë‚˜ëˆ„ê¸°
* í† í°í™”, ë¬¸ìì—´ ë‚˜ëˆ„ê¸°

In [35]:
# ì–´ì ˆ ë‚˜ëˆ„ê¸°
df["ë¬¸ì„œ"].str.split()

0                       [ì½”ë¡œë‚˜, ìƒìƒì§€ì›ê¸ˆ, ë¬¸ì˜ì…ë‹ˆë‹¤.]
1               [ë‚®12ì‹œ~2ì‹œ, ì§€í•˜ì² , ìš´í–‰ì‹œê°„, ë¬¸ì˜ì…ë‹ˆë‹¤.]
2             [ë°¤, 12ì‹œ, ì´í›„, ë²„ìŠ¤, ìš´í–‰ì‹œê°„, ë¬¸ì˜ì…ë‹ˆë‹¤.]
3    [ì‚¬íšŒì , ê±°ë¦¬ë‘ê¸°ë¡œ, ì¸í•œ, 10ì‹œ, ì´í›„, ì˜ì—…ì‹œê°„, ì•ˆë‚´ì…ë‹ˆë‹¤.]
4                        [Bus, ìš´í–‰ì‹œê°„, ë¬¸ì˜ì…ë‹ˆë‹¤.]
5                        [Taxi, ìŠ¹ê°•ì¥, ë¬¸ì˜ì…ë‹ˆë‹¤.]
Name: ë¬¸ì„œ, dtype: object

In [36]:
# ì–´ì ˆì„ ë‚˜ëˆ„ê³  ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë°˜í™˜ë°›ê¸°
df["ë¬¸ì„œ"].str.split(expand=True)

         0      1       2       3     4       5       6
0      ì½”ë¡œë‚˜  ìƒìƒì§€ì›ê¸ˆ  ë¬¸ì˜ì…ë‹ˆë‹¤.    None  None    None    None
1  ë‚®12ì‹œ~2ì‹œ    ì§€í•˜ì²     ìš´í–‰ì‹œê°„  ë¬¸ì˜ì…ë‹ˆë‹¤.  None    None    None
2        ë°¤    12ì‹œ      ì´í›„      ë²„ìŠ¤  ìš´í–‰ì‹œê°„  ë¬¸ì˜ì…ë‹ˆë‹¤.    None
3      ì‚¬íšŒì   ê±°ë¦¬ë‘ê¸°ë¡œ      ì¸í•œ     10ì‹œ    ì´í›„    ì˜ì—…ì‹œê°„  ì•ˆë‚´ì…ë‹ˆë‹¤.
4      Bus   ìš´í–‰ì‹œê°„  ë¬¸ì˜ì…ë‹ˆë‹¤.    None  None    None    None
5     Taxi    ìŠ¹ê°•ì¥  ë¬¸ì˜ì…ë‹ˆë‹¤.    None  None    None    None

In [37]:
df["ë¬¸ì„œ"].str.split(expand=True)[0]

0        ì½”ë¡œë‚˜
1    ë‚®12ì‹œ~2ì‹œ
2          ë°¤
3        ì‚¬íšŒì
4        Bus
5       Taxi
Name: 0, dtype: object

In [38]:
df["ë¬¸ì„œ"].map(lambda x : x.split()[-1])

0    ë¬¸ì˜ì…ë‹ˆë‹¤.
1    ë¬¸ì˜ì…ë‹ˆë‹¤.
2    ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì•ˆë‚´ì…ë‹ˆë‹¤.
4    ë¬¸ì˜ì…ë‹ˆë‹¤.
5    ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [39]:
# íŠ¹ì • ë‹¨ì–´ ê¸°ì¤€ìœ¼ë¡œ ë¬¸ì„œë¥¼ ë‚˜ëˆ•ë‹ˆë‹¤.
# "ë¬¸ì˜" ë‹¨ì–´ ê¸°ì¤€ìœ¼ë¡œ ë‚˜ëˆ„ê¸°
df["ë¬¸ì„œ"].str.split("ë¬¸ì˜", expand=True)

                                 0      1
0                       ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ    ì…ë‹ˆë‹¤.
1                ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„    ì…ë‹ˆë‹¤.
2                ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„   ì…ë‹ˆë‹¤.
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.   None
4                        Bus ìš´í–‰ì‹œê°„    ì…ë‹ˆë‹¤.
5                        Taxi ìŠ¹ê°•ì¥    ì…ë‹ˆë‹¤.

In [40]:
df["ë¬¸ì„œ"].map(lambda x : x.split("ë¬¸ì˜")[-1])

0                               ì…ë‹ˆë‹¤.
1                               ì…ë‹ˆë‹¤.
2                              ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                               ì…ë‹ˆë‹¤.
5                               ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

### íŠ¹ì • ë¬¸ì ì°¾ê¸°

In [41]:
# íŠ¹ì • ë¬¸ìê°€ ë“¤ì–´ê°€ëŠ” í…ìŠ¤íŠ¸ ì°¾ê¸°
df["ë¬¸ì„œ"].str.contains("ë¬¸ì˜")

0     True
1     True
2     True
3    False
4     True
5     True
Name: ë¬¸ì„œ, dtype: bool

In [42]:
# íŠ¹ì • ë¬¸ìê°€ ë“¤ì–´ê°€ëŠ” í…ìŠ¤íŠ¸ë¥¼ ì°¾ì•„ ë‹¤ì‹œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ê°ì‹¸ì£¼ë©´ í•´ë‹¹ ë°ì´í„°ë§Œ ê°€ì ¸ì˜¤ê²Œ ë©ë‹ˆë‹¤.

df[df["ë¬¸ì„œ"].str.contains("ìš´í–‰")]

                         ë¬¸ì„œ          ë‚ ì§œ
1   ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12
2  ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12
4           Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12

### íŒŒìƒë³€ìˆ˜ ë§Œë“¤ê¸°

In [43]:
# íŠ¹ì • ë¬¸ìê°€ ë“¤ì–´ê°€ëŠ” í…ìŠ¤íŠ¸ ì°¾ê¸°
# "ë¬¸ì˜"ê°€ ë“¤ì–´ê°€ëŠ” ì—¬ë¶€ë¥¼ í™•ì¸í•˜ê³  íŒŒìƒë³€ìˆ˜ ë§Œë“¤ê¸°
df["ë¬¸ì˜"] = df["ë¬¸ì„œ"].str.contains("ë¬¸ì˜")
df

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12   True
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True

In [44]:
# íŠ¹ì • ë¬¸ìê°€ ë“¤ì–´ê°€ëŠ” í…ìŠ¤íŠ¸ ì°¾ê¸°
# "ì•ˆë‚´"ê°€ ë“¤ì–´ê°€ëŠ” ì—¬ë¶€ë¥¼ í™•ì¸í•˜ê³  íŒŒìƒë³€ìˆ˜ ë§Œë“¤ê¸°
df["ì•ˆë‚´"] = df["ë¬¸ì„œ"].str.contains("ì•ˆë‚´")
df

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜     ì•ˆë‚´
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12   True  False
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False   True
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False

In [45]:
df.loc[df["ë¬¸ì„œ"].str.contains("ë¬¸ì˜"), "ë¬¸ì˜ì•ˆë‚´"] = "ë¬¸ì˜"
df.loc[df["ë¬¸ì„œ"].str.contains("ì•ˆë‚´"), "ë¬¸ì˜ì•ˆë‚´"] = "ì•ˆë‚´"
df

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜     ì•ˆë‚´ ë¬¸ì˜ì•ˆë‚´
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12   True  False   ë¬¸ì˜
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False   True   ì•ˆë‚´
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜

### ë¬¸ìì—´ ë°”ê¾¸ê¸°

In [46]:
# .str.replaceë¡œ "ìš´í–‰" => "ì˜ì—…" ìœ¼ë¡œ ë°”ê¾¸ê¸°
df["ë¬¸ì„œ"].str.replace("ìš´í–‰", "ì˜ì—…", regex=True)

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ì˜ì—…ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ì˜ì—…ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ì˜ì—…ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [47]:
# .str.replace ë¥¼ ì‚¬ìš©í•´ì„œ ë¬¸ìì—´ì„ ë³€ê²½í•  ë•Œ ì •ê·œí‘œí˜„ì‹ì„ í•¨ê»˜ ì‚¬ìš©
# |(ì—”í„°í‚¤ ìœ„ì˜ í‚¤ë¥¼ Shiftë¥¼ ëˆ„ë¥´ê³  ì‚¬ìš©)ëŠ” orë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.
# & ëŠ” and ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.
# ë²„ìŠ¤|ì§€í•˜ì²  ë¥¼ "ëŒ€ì¤‘êµí†µ"ìœ¼ë¡œ ë³€ê²½í•´ ë´…ë‹ˆë‹¤.

df["ë¬¸ì„œ"].str.replace("ë²„ìŠ¤|ì§€í•˜ì² ", "ëŒ€ì¤‘êµí†µ", regex=True)

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1           ë‚®12ì‹œ~2ì‹œ ëŒ€ì¤‘êµí†µ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2         ë°¤ 12ì‹œ ì´í›„ ëŒ€ì¤‘êµí†µ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

* <font color="red">pandas êµ¬ë²„ì „ì„ ì‚¬ìš©í•œë‹¤ë©´ `regex=True` ì§€ì •ì‹œ ì˜¤ë¥˜ê°€ ë‚  ìˆ˜ ìˆìŠµë‹ˆë‹¤.</font>
* ì˜¤ë¥˜ê°€ ë‚˜ë©´  `regex=True` ë¥¼ ì œì™¸í•˜ê³  ì‚¬ìš©í•˜ë©´ ë©ë‹ˆë‹¤.

In [48]:
# replace ë¥¼ í†µí•´ íŠ¹ì • ë¬¸ìì—´ì„ ë³€ê²½
# "ìš´í–‰"ì„ "ì˜ì—…" ìœ¼ë¡œ ë³€ê²½í•´ ë´…ë‹ˆë‹¤.
# replace => DF
# str.replace => Series
# df.replace("ìš´í–‰", "ì˜ì—…", regex=True)
# df.replace("2022-05-01", "2023-05-01")

df["ë¬¸ì„œ"].replace("ë²„ìŠ¤|ì§€í•˜ì² ", "ëŒ€ì¤‘êµí†µ", regex=True)

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1           ë‚®12ì‹œ~2ì‹œ ëŒ€ì¤‘êµí†µ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2         ë°¤ 12ì‹œ ì´í›„ ëŒ€ì¤‘êµí†µ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                    Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                    Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [49]:
# str ì„ ì œì™¸í•˜ê³  replace()ë¥¼ ì‚¬ìš©í•´ì„œ ë¬¸ìì—´ì˜ ì¼ë¶€ë§Œ ë³€ê²½í•˜ê³ ì í• ë•ŒëŠ” regex=True ë¥¼ í•¨ê»˜ ì‚¬ìš©
# replace() ëŠ” ì „ì²´ ì¼ì¹˜í•˜ëŠ” ê°’ì´ ìˆì„ ë•Œ ê°’ì´ ë³€ê²½ë˜ë©° 
# ë°ì´í„°í”„ë ˆì„ì—ì„œ ì‚¬ìš©í•  ë•ŒëŠ” ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ë³€ê²½í•˜ê³ ì í•˜ëŠ” ì»¬ëŸ¼ê³¼ ê°’ì„ ì§€ì •í•´ì„œ ì‚¬ìš©
# "ì§€í•˜ì² "ì„ "êµí†µ"ìœ¼ë¡œ ë³€ê²½í•©ë‹ˆë‹¤.

df.replace({"ì§€í•˜ì² ":"êµí†µ"}, regex=True)

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜     ì•ˆë‚´ ë¬¸ì˜ì•ˆë‚´
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
1           ë‚®12ì‹œ~2ì‹œ êµí†µ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12   True  False   ë¬¸ì˜
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False   True   ì•ˆë‚´
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜

In [50]:
# ë”•ì…”ë„ˆë¦¬ì˜ í‚¤, ê°’ìœ¼ë¡œ ì‘ì„±í•˜ë©´ í‚¤ ê°’ê³¼ ì¼ì¹˜í•˜ëŠ” ê°’ìœ¼ë¡œ ë³€ê²½í•©ë‹ˆë‹¤.
# {"ë¬¸ì˜":"ì§ˆë¬¸"}

df.replace({"ì§€í•˜ì² ":"êµí†µ", "ë¬¸ì˜":"ì§ˆë¬¸"}, regex=True)

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜     ì•ˆë‚´ ë¬¸ì˜ì•ˆë‚´
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ì§ˆë¬¸ì…ë‹ˆë‹¤.  2024-10-12   True  False   ì§ˆë¬¸
1           ë‚®12ì‹œ~2ì‹œ êµí†µ ìš´í–‰ì‹œê°„ ì§ˆë¬¸ì…ë‹ˆë‹¤.  2024-10-12   True  False   ì§ˆë¬¸
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ì§ˆë¬¸ì…ë‹ˆë‹¤.   2024-10-12   True  False   ì§ˆë¬¸
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False   True   ì•ˆë‚´
4                  Bus ìš´í–‰ì‹œê°„ ì§ˆë¬¸ì…ë‹ˆë‹¤.  2024-10-12   True  False   ì§ˆë¬¸
5                  Taxi ìŠ¹ê°•ì¥ ì§ˆë¬¸ì…ë‹ˆë‹¤.  2024-10-12   True  False   ì§ˆë¬¸

### ì •ê·œí‘œí˜„ì‹ 

* [ì •ê·œ í‘œí˜„ì‹ - ìœ„í‚¤ë°±ê³¼, ìš°ë¦¬ ëª¨ë‘ì˜ ë°±ê³¼ì‚¬ì „](https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D)


* íŒŒì´ì¬ ê³µì‹ë¬¸ì„œ ì •ê·œí‘œí˜„ì‹ ì°¸ê³ í•˜ê¸° : 
    * https://docs.python.org/3.9/library/re.html#re.sub
    
    
* ë¬¸ìì—´ ë°”ê¾¸ê¸° : re.sub("ê·œì¹™", "íŒ¨í„´", "ë°ì´í„°")
    * https://docs.python.org/3.9/library/re.html#text-munging


* ì •ê·œí‘œí˜„ì‹ ë¬¸ìì—´ íŒ¨í„´
    * https://docs.python.org/3.9/howto/regex.html#matching-characters

    
    
* [    ] : ì¼ì¹˜ì‹œí‚¬ ë¬¸ì ì„¸íŠ¸ì˜ íŒ¨í„´
* [ê°€ë‚˜ë‹¤] : ê°€ or ë‚˜ or ë‹¤ ì¤‘ì— í•˜ë‚˜ë¥¼ í¬í•¨í•˜ê³  ìˆëŠ”ì§€
* [ê°€-í£] : í•œê¸€ ê°€ë¶€í„° í£ê¹Œì˜ ë¬¸ì ì¤‘ í•˜ë‚˜ë¥¼ í¬í•¨í•˜ê³  ìˆëŠ”ì§€
* [0-9] : 0~9ê¹Œì§€ì˜ ìˆ«ì ì¤‘ í•˜ë‚˜ë¥¼ í¬í•¨í•˜ê³  ìˆëŠ”ì§€
* [^0-9] : ìˆ«ìë¥¼ í¬í•¨í•˜ê³  ìˆì§€ ì•ŠìŒ
* [^ê°€-í£] : í•œê¸€ì´ í¬í•¨ë˜ì–´ ìˆì§€ ì•ŠìŒ
* [ê°€-í£+] : í•œê¸€ì´ í•˜ë‚˜ ì´ìƒ í¬í•¨ë˜ëŠ”ì§€


| í´ë˜ìŠ¤ | í‘œí˜„ì‹ | ì„¤ëª… |
|----|-----|----|
|\d | [0-9]|ì‹­ì§„ìˆ˜ì™€ ì¼ì¹˜|
|\D| [^0-9] | ìˆ«ìê°€ ì•„ë‹Œ ë¬¸ìì™€ ì¼ì¹˜|
|\s |[\t\n\r\f\v] | ê³µë°± ë¬¸ìì™€ ì¼ì¹˜ |
|\S |[^\t\n\r\f\v]| ê³µë°±ì´ ì•„ë‹Œ ë¬¸ìì™€ ì¼ì¹˜|
| \w| [a-zA-Z0-9_] | ëª¨ë“  ìˆ«ì ì˜ë¬¸ìì™€ ì¼ì¹˜|
| \W| [^a-zA-Z0-9_]| ì˜ë¬¸ì, ìˆ«ìê°€ ì•„ë‹Œ ê²ƒê³¼ ì¼ì¹˜|


í‘œí˜„ì‹	ì„¤ëª…

|í‘œí˜„ì‹ | ì„¤ëª… |	
|----|-----|
|^x	| ë¬¸ìì—´ì˜ ì‹œì‘ì„ í‘œí˜„í•˜ë©° x ë¬¸ìë¡œ ì‹œì‘|
|x$	| ë¬¸ìì—´ì˜ ì¢…ë£Œë¥¼ í‘œí˜„í•˜ë©° x ë¬¸ìë¡œ ì¢…ë£Œ|
|.x	| ì„ì˜ì˜ í•œ ë¬¸ìì˜ ìë¦¬ìˆ˜ë¥¼ í‘œí˜„í•˜ë©° ë¬¸ìì—´ì´ x ë¡œ ëë‚¨|
|x+	| ë°˜ë³µì„ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ í•œë²ˆ ì´ìƒ ë°˜ë³µë¨|
|x*	| ë°˜ë³µì—¬ë¶€ë¥¼ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ 0ë²ˆ ë˜ëŠ” ê·¸ ì´ìƒ ë°˜ë³µë¨|
|x?	| ì¡´ì¬ì—¬ë¶€ë¥¼ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ ì¡´ì¬í•  ìˆ˜ë„, ì¡´ì¬í•˜ì§€ ì•Šì„ ìˆ˜ë„ ìˆìŒ|
|x\|y	| or ë¥¼ í‘œí˜„í•˜ë©° x ë˜ëŠ” y ë¬¸ìê°€ ì¡´ì¬í•¨|
|(x)	| ê·¸ë£¹ì„ í‘œí˜„í•˜ë©° x ë¥¼ ê·¸ë£¹ìœ¼ë¡œ ì²˜ë¦¬í•¨|
|(x)(y)	| ê·¸ë£¹ë“¤ì˜ ì§‘í•©ì„ í‘œí˜„í•˜ë©° ìˆœì„œëŒ€ë¡œ ë²ˆí˜¸ë¥¼ ë¶€ì—¬í•˜ì—¬ x, y ëŠ” ê° ê·¸ë£¹ì˜ ë°ì´í„°ë¡œ ê´€ë¦¬|
|(x)(?:y)	| ê·¸ë£¹ë“¤ì˜ ì§‘í•©ì— ëŒ€í•œ ì˜ˆì™¸ë¥¼ í‘œí˜„í•˜ë©° ê·¸ë£¹ ì§‘í•©ìœ¼ë¡œ ê´€ë¦¬ë˜ì§€ ì•ŠìŒ|
|x{n}	| ë°˜ë³µì„ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ në²ˆ ë°˜ë³µë¨|
|x{n,}	| ë°˜ë³µì„ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ në²ˆ ì´ìƒ ë°˜ë³µë¨
|x{n,m}	| ë°˜ë³µì„ í‘œí˜„í•˜ë©° x ë¬¸ìê°€ ìµœì†Œ në²ˆ ì´ìƒ ìµœëŒ€ m ë²ˆ ì´í•˜ë¡œ ë°˜ë³µë¨|

### ìˆ«ì ì œê±°í•˜ê¸°

In [51]:
# ì •ê·œí‘œí˜„ì‹ì˜ [0-9] ë¡œ ìˆ«ìë¥¼ ì œê±°í•©ë‹ˆë‹¤.
# df["ë¬¸ì„œ"].str.replace("[^0-9]", "", regex=True)
df["ë¬¸ì„œ"].str.replace("[0-9]", "", regex=True)

0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1             ë‚®ì‹œ~ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

### ì˜ë¬¸ì ì œê±°í•˜ê¸°

In [52]:
df["ë¬¸ì„œ"].str.replace("[a-zA-Z]", "", regex=True)

0                   ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.
1            ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
2           ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
3    ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.
4                        ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.
5                         ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

### ë¬¸ì, ë‹¨ì–´ ìˆ˜ êµ¬í•˜ê¸°

In [53]:
# ë¬¸ì ê¸¸ì´ë¥¼ êµ¬í•©ë‹ˆë‹¤.
df["ë¬¸ì„œ"].str.len()

0    16
1    24
2    24
3    31
4    15
5    16
Name: ë¬¸ì„œ, dtype: int64

In [54]:
# ë‹¨ì–´ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•©ë‹ˆë‹¤.
df["ë¬¸ì„œ"].str.split().str.len()

0    3
1    4
2    6
3    7
4    3
5    3
Name: ë¬¸ì„œ, dtype: int64

In [55]:
df["ë¬¸ì„œ"].map(lambda x : len(x.split()))

0    3
1    4
2    6
3    7
4    3
5    3
Name: ë¬¸ì„œ, dtype: int64

### ë¬¸ìì—´ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±

In [56]:
# ë¬¸ìì—´ ì¸ë±ì‹±
df["ë¬¸ì„œ"].str[1]

0    ë¡œ
1    ë‚®
2
3    íšŒ
4    u
5    T
Name: ë¬¸ì„œ, dtype: object

In [57]:
# ë¬¸ìì—´ ìŠ¬ë¼ì´ì‹±

df["ë¬¸ì„œ"].str[-6:]

0    ë¬¸ì˜ì…ë‹ˆë‹¤.
1    ë¬¸ì˜ì…ë‹ˆë‹¤.
2    ì˜ì…ë‹ˆë‹¤.
3    ì•ˆë‚´ì…ë‹ˆë‹¤.
4    ë¬¸ì˜ì…ë‹ˆë‹¤.
5    ë¬¸ì˜ì…ë‹ˆë‹¤.
Name: ë¬¸ì„œ, dtype: object

In [58]:
df["ë¬¸ì„œ"].str.strip().str[-6:-4]

0    ë¬¸ì˜
1    ë¬¸ì˜
2    ë¬¸ì˜
3    ì•ˆë‚´
4    ë¬¸ì˜
5    ë¬¸ì˜
Name: ë¬¸ì„œ, dtype: object

### map, apply ë¥¼ í™œìš©í•˜ê¸°

|| Series | DataFrame | ì‚¬ìš© ì˜ˆ |
|---|---|---|---|
|map|O|X|df[â€œì»¬ëŸ¼ëª…â€].map(í•¨ìˆ˜ or dict)|
|apply|O|O|df.apply(í•¨ìˆ˜) <br/> df[â€œì»¬ëŸ¼ëª…â€].apply(í•¨ìˆ˜)|
|applymap|X|O|df.applymap(í•¨ìˆ˜)|

In [59]:
# map ê³¼ lambda ë¥¼ ì‚¬ìš©í•˜ì—¬ ê¸¸ì´ë¥¼ êµ¬í•˜ê¸°
df["ë¬¸ì„œ"].map(lambda x : len(x))

0    16
1    24
2    24
3    31
4    15
5    16
Name: ë¬¸ì„œ, dtype: int64

In [60]:
# map ê³¼ lambda ë¥¼ ì‚¬ìš©í•˜ì—¬ ë‹¨ì–´ìˆ˜ êµ¬í•˜ê¸°
df["ë¬¸ì„œ"].map(lambda x : len(x.split()))

0    3
1    4
2    6
3    7
4    3
5    3
Name: ë¬¸ì„œ, dtype: int64

In [61]:
# apply
df["ë¬¸ì„œ"].apply(lambda x : len(x))

0    16
1    24
2    24
3    31
4    15
5    16
Name: ë¬¸ì„œ, dtype: int64

In [62]:
# apply
df["ë¬¸ì„œ"].apply(lambda x : len(x.split()))

0    3
1    4
2    6
3    7
4    3
5    3
Name: ë¬¸ì„œ, dtype: int64

In [63]:
df.apply(lambda x : len(x["ë¬¸ì„œ"]), axis=1)

0    16
1    24
2    24
3    31
4    15
5    16
dtype: int64

In [64]:
df.apply(lambda x : len(x["ë¬¸ì„œ"].split()), axis=1)

0    3
1    4
2    6
3    7
4    3
5    3
dtype: int64

## íŒŒì¼ë¡œ ì €ì¥í•˜ê³  ë¶ˆëŸ¬ì˜¤ê¸°
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg" width="500" align="left">

In [65]:
# í˜„ì¬ íŒŒì¼ì´ ì €ì¥ëœ ê²½ë¡œ 
# íŒŒì¼íƒìƒ‰ê¸°ë¡œ ì €ì¥ëœ íŒŒì¼ì„ ì—´ì–´ë³¼ ë•Œ 
# ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•´ì„œ ì¶œë ¥ë˜ëŠ” ê²½ë¡œì˜ í´ë”ë¥¼ ì—´ì–´ì£¼ì„¸ìš”.
import os
os.getcwd()

'/Users/corazzon/codes/python-text-analysis'

In [66]:
# to_csv ë¡œ ì €ì¥í•˜ê¸°, ì¸ë±ìŠ¤ê°’ì€ ì œì™¸ 
df.to_csv("text.csv", index=False, encoding="cp949")

In [67]:
# read_csv ë¡œ ì½ì–´ì˜¤ê¸°
pd.read_csv("text.csv", encoding="cp949")

                                ë¬¸ì„œ          ë‚ ì§œ     ë¬¸ì˜     ì•ˆë‚´ ë¬¸ì˜ì•ˆë‚´
0                 ì½”ë¡œë‚˜ ìƒìƒì§€ì›ê¸ˆ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
1          ë‚®12ì‹œ~2ì‹œ ì§€í•˜ì²  ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
2         ë°¤ 12ì‹œ ì´í›„ ë²„ìŠ¤ ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.   2024-10-12   True  False   ë¬¸ì˜
3  ì‚¬íšŒì  ê±°ë¦¬ë‘ê¸°ë¡œ ì¸í•œ 10ì‹œ ì´í›„ ì˜ì—…ì‹œê°„ ì•ˆë‚´ì…ë‹ˆë‹¤.  2024-10-12  False   True   ì•ˆë‚´
4                  Bus ìš´í–‰ì‹œê°„ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜
5                  Taxi ìŠ¹ê°•ì¥ ë¬¸ì˜ì…ë‹ˆë‹¤.  2024-10-12   True  False   ë¬¸ì˜

## string data type
* Panas Changed in version 1.1.0.

In [68]:
import numpy as np
# string type ì˜ ì´í•´
s1 = pd.Series(["a", 2, np.nan])
s2 = pd.Series(["a", 2, np.nan]).astype("string")
s1, s2

(0      a
 1      2
 2    NaN
 dtype: object,
 0       a
 1       2
 2    <NA>
 dtype: string)

In [69]:
# íƒ€ì…ì„ ë¹„êµ
type(s1[1]), type(s2[1])

(int, str)

In [70]:
# ê°’ì„ ë¹„êµ
s1[1] == s2[1]

False

In [71]:
s2[1] == "2"

True

## ë” ì½ì–´ë³´ê¸°

* https://pandas.pydata.org/docs/user_guide/text.html
* https://pandas.pydata.org/docs/reference/series.html#api-series-str